button {
    appearance: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: $fontFamily; 
}

button.btn, a.btn {
    display: block;
    width: auto;
    width: fit-content;
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid $blue3;
    border-radius: 50px;
    color: $blue3;
    text-transform: capitalize;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $blue3;
        color: $dark1;
    }
}

.btn--center {
    margin: auto;
}