html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: $fontFamily;
}

.main-content {
    overflow-x: hidden;
}

body {
    background-color: $dark1;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

p, span {
    font-family: $fontFamily;
    @include font-size(16);
    @include line-height(22);
}

a {
    text-decoration: none;
    font-family: $fontFamily;
    color: $blue3;
    transition: color 0.3s ease;

    &:hover {
        color: $blue1;
    }
}


// Input

input[type="text"], input[type="textarea"], select, textarea {
    appearance: none;
    padding: 11.5px;
    border: 0;
    border-radius: 6px;
    background-color: $dark2;
    color: $dark3;
    font-family: $fontFamily;
    width: 100%;
    @include font-size(16);
}

.nf-error input[required] {
    background-image: url(../css/icons/alert-circle.svg);
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.nf-error textarea[required] {
    background-image: url(../css/icons/alert-circle.svg);
    background-position: 98% 15px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}


