// Red Hat
@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-Regular.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-Italic.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-Bold.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-BoldItalic.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-Medium.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-MediumItalic.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-Black.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/RedHatDisplay-BlackItalic.ttf') format('truetype'),
         url('../../fonts/RedHatDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

// Cormorant Upright
@font-face {
    font-family: 'Cormorant Upright';
    src: url('../../fonts/CormorantUpright-Light.ttf') format('truetype'),
         url('../../fonts/CormorantUpright-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../../fonts/CormorantUpright-Regular.ttf') format('truetype'),
         url('../../fonts/CormorantUpright-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../../fonts/CormorantUpright-Medium.ttf') format('truetype'),
         url('../../fonts/CormorantUpright-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../../fonts/CormorantUpright-Semibold.ttf') format('truetype'),
         url('../../fonts/CormorantUpright-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../../fonts/CormorantUpright-Bold.ttf') format('truetype'),
         url('../../fonts/CormorantUpright-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}