.grid-flex {
    max-width: 100%;
    display: block;
    padding: 0 15px;

    &--sm {
        @include breakFirst($screen-sm) {
            display: flex;
            flex-wrap: wrap;
        }
    }


    &--md {
        @include breakFirst($screen-md) {
            display: flex;
            flex-wrap: wrap;
        }
    }
   
}

.col {
    max-width: 100%;
    padding: 0 15px;

    &-4 {
        width: 30%;
    }

    &-6 {

        width: 46%;
    }
    
}

.col-sm {
    @include breakFirst($screen-sm) {
        &-6 {
            width: 46%;
        }        
    }

}

.col-md {
    @include breakFirst($screen-md) {
        &-4 {
            width: 30%;
        }
    }
}

