// Search & Filter
form.searchandfilter {
    padding: 15px;
    display: block;
    @extend .container--lg;
} 

.search-filter-results {
    @extend .container--lg;
}

.searchandfilter ul {
    display: block;
    padding: 15px 25px;

    @include breakFirst($screen-lg) {
        padding: 15px 40px;
    }

    label {
        display: block;
    }

    li {
        display: block;
    }

    li input.sf-input-text {
        display: block;
        width: calc(100% - 22px);
        background-image: url(../css/icons/search.svg);
        background-position: calc(100% - 15px) center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        color: $blue3;

        &:focus {
            background-image: none;
        }

    }

    @include breakFirst($screen-md) {
        display: flex;

        li[data-sf-field-input-type="select"] {
            width: 200px;
        }

        li input.sf-input-text {
            width: 380px;
        }
    }

    li.sf-field-search {
        margin: auto;

        ::placeholder {
            color: $blue3;
        }
        
        @include breakFirst($screen-md) {
            margin-left: 15px;
        }
    }

    .selectric {
        padding: 3px;
    }

    .selectric-wrapper ul {
        display: block;
        padding: 0;
    }

    .selectric-wrapper ul li {
        padding: 8px;
    }
}

// Ninja Forms

.nf-form-title h3 {
    @extend .text-align--center;
    @extend .f-title--sm;
    @extend .row-inside--md;
    font-family: $serifFontFamily !important;
}

.nf-form-fields-required, .nf-field-label label {
    font-family: $fontFamily;
    color: $blue3;
    padding: 7px;
    @include font-size(16);
    font-weight: 300 !important;
}

select.ninja-forms-field {
    padding: 11.5px;
}

.nf-error {
    input[type="text"],.nf-field-element textarea, select {
        border: 1px solid $blue3;
    }

    .nf-error-msg {
        font-family: $fontFamily;
        color: $blue3;
        @include font-size(16);
    }
}

.nf-form-fields-required .ninja-forms-req-symbol,
.nf-field-label label span {
    font-family: $fontFamily;
    color: $blue3;
    @include font-size(16);
    font-weight: 300 !important;
}

nf-errors, .textarea-container .nf-input-limit {
    font-family: $fontFamily;
    color: $blue3;
    @include font-size(16);
}

.textarea-container .nf-input-limit {
    text-align: right;
}


.nf-field-element input[type="button"] {
    margin: auto;
}

nf-errors nf-section .nf-error-msg {
    margin: 0 auto;
    text-align: center;
    color: $blue3 !important;
}