$selectric-main-color:      $dark3 !default;                                              // Color used in border
$selectric-secondary-color: $dark2 !default;                                              // Color used in button
$selectric-text-color:      $blue3 !default;                                              // Color used in label
$selectric-bg-color:        $dark2 !default;                                           // Background color
$selectric-btn-bg-color:    $blue3 !default;                                           // Button background color
$selectric-height:          40px !default;                                              // Outer height
$selectric-spacing:         10px !default;                                              // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   6px !default;                                               // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       12px !default;                                              // Font size

.selectric-wrapper,
.nf-field-element select{
  position: relative;
  cursor: pointer;
}

.selectric-responsive,
.nf-field-element select {
  width: 100%;
}

.selectric,
.nf-field-element select {
  border: 0;
  border-radius: $selectric-border-radius;
  background: $dark2;
  position: relative;
  overflow: hidden;
  padding: 6px;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 $selectric-inner-height 0 $selectric-spacing;
    @include font-size(16);
    line-height: $selectric-inner-height;
    height: $selectric-inner-height;
    user-select: none;
    font-family: $fontFamily;
    text-transform: capitalize;
    color: $blue3;
    font-weight: 500;
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 15%;
    width: $selectric-inner-height;
    height: $selectric-inner-height;
    line-height: $selectric-inner-height;
    background-color: transparent;
    color: $selectric-secondary-color;
    text-align: center;
    font: 0/0 a;
    
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $blue3;
      border-bottom: none;
    }
  }
}


.selectric-focus .selectric,
.nf-field-element select:focus {
  border-color: darken($selectric-main-color, 20%);
}

.selectric-hover .selectric,
.nf-field-element select:hover {
  border-color: darken($selectric-main-color, 10%);

  .button {
    color: darken($selectric-secondary-color, 10%);

    &:after {
      border-top-color: darken($selectric-secondary-color, 10%);
    }
  }
}

.selectric-open {
  z-index: 9999;
  width: 100%;

  .selectric {
    border-color: darken($selectric-main-color, 10%);
  }

  .selectric-items {
    display: block;
    font-family: $fontFamily !important;
    text-transform: uppercase;
    width: 100%;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: relative;
    left: 0;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: $selectric-bg-color;
  z-index: -1;
//   box-shadow: 0 0 10px -6px;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: 100%;
    bottom: 0;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    @include font-size(16);
    line-height: 1.6;
    min-height: 20px;
    font-family: $fontFamily !important;
    text-transform: capitalize;
  }

  li {
    display: block;
    padding: 10px;
    color: $blue3;
    cursor: pointer;

    &.selected {
      background: $dark2;
      color: $blue3;
    }

    &.highlighted {
      background: $dark2;
      color: $blue3;
    }

    &:hover {
      background: $dark3;
      color: $blue3;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}

.selectric-property-select .selectric-items .selectric-scroll ul li {
  &:nth-child(7) {
    display: none;
  }
}
