// Alignments
.align-vert-center {
    display: flex;
    align-items: center;
}

// Padding & Spacing
.row-y-inside--sm {
    padding: 30px 0;
}

.row-btm-outside--sm {
    padding-bottom: 30px;
}

// Text 
.text--white {
    color: $white;
}

.text-align--center {
    text-align: center;
}