.screen-reader {
    display: none;
}

// Containers
.container {
    &--sm {
        margin: auto;
        max-width: 800px;
    }

    &--lg {
        margin: auto;
        max-width: 1180px;
    }
}

// Alignments
.align-vert-center {
    display: flex;
    align-items: center;
}

// Padding & Spacing
.row-inside--sm {
    display: block;
    padding: 30px 0;
}

.row-inside--md {
    display: block;
    padding: 60px 0;
}

.row-inside--lg {
    display: block;
    padding: 100px 0;
}

.row-btm-outside--sm {
    display: block;
    margin-bottom: 15px;
}

.row-btm-outside--md {
    display: block;
    margin-bottom: 30px;
}

.row-btm-outside--lg {
    display: block;
    margin-bottom: 60px;
}

.col-inside--md {
    padding: 0 30px;
}


// Text 
.text--blue-3 {
    color: $blue3;
}

.text-align--center {
    text-align: center;

    &-md {
        @include breakFirst($screen-md) {
            text-align: center;
        }
    }
}

.text-align--right {
    text-align: right;

    &-md {
        @include breakFirst($screen-md) {
            text-align: right;
        }
    }
}

.text-align--left {
    text-align: left;

    &-md {
        @include breakFirst($screen-md) {
            text-align: left;
        }
    }
}